<div class="container">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<article>
				<p><a href="/">&larr; back to the home page</a></p>
				<hr>
				<header>
					<h1>Change Password</h1>
					
				</header>
				
			</article>
		</div>
	</div>
  
  <div class="row">
    <div class="col-md-12">
      <a href="#/" class="btn btn-default" onclick="runtest()">Run Test</a>
    </div>
  </div>
</div>

<script type="text/javascript">
    
  function runtest() {
    debugger;
    
    //Global Variables
    //var serverIP = '<your ip address>';
    var serverIP = '45.55.12.52';
    var serverPort = '3000';
    var serverURL = 'http://'+serverIP+':'+serverPort;
    var normalUserID = "57ce38232bb516b53d461ded";
    
    var isLoggedIn = false;
    
    var testCnt = 1;
    
    
    $.get('/api/users/'+normalUserID, '', function(data) {
      debugger;

      data.user.password = "testpassword";

      $.post('/api/users/'+normalUserID+'/update', data.user, function(data) {
        debugger;
      });
    });
  }
</script>