<style>
  /* Using Handlebars template language, you can insert HTML and styling */
  .features .glyphicon {
    font-size: 32px;
  }

  .row {
    margin-bottom: 20px;
  }

  .quote {
    background-color: #444;
    color: #e1e1e1;
  }
  .quote blockquote {
    border: none;
    margin: 0;
  }
  .quote footer {
    color: #c1c1c1;
  }
  section, header {
    background-color: #fff;
  }
  body {

  }
  .footer {
    padding: 20px 0;
  }


  #demo-nav {
    display: none;
  }

  .show-nav #demo-nav {
    display: block;
  }
</style>

<section>
  <div class='container'>
    <div class='row well well-lg'>
      <div class='col-md-6'>
        <h2>ConnextCMS and KeystoneJS Demo</h2>
        <p class='lead'>ConnextCMS communicates with <a href="http://keystonejs.com/" target="_blank">KeystoneJS</a> via API calls, allowing developers to use front end tools to build their websites.</p><br>
        <p>Log in and try out the back end with the same demo login/pass as in Keystone:</p><br>
        <p>Login: <b>demo@keystonejs.com</b></p>
        <p>Pass: <b>admin</b></p>
        <a class='btn btn-lg btn-primary' href="/dashboard">Log into the Back End</a>
        <a class='btn btn-lg btn-default' href="http://github.com" target="_blank">View GitHub Project</a>
        
      </div>
      <div class='col-md-6 visible-md visible-lg'>
        <img class="img-responsive center-block" src='images/skagit-connext-logo-gold-online.jpg' alt='ConnextCMS' />
      </div>
    </div>

    <div class='row text-center features'>
      <div class='col-sm-6 col-xs-6'>
        <img class="img-reponsive center-block" src="/images/logo.svg" />
        <p>ConnextCMS runs on top of <a href="http://keystonejs.com/" target="_blank">KeystoneJS</a> v0.4.0 Start out by reading the <a href="http://keystonejs.com/docs/" target="_blank">KeystoneJS documentation</a>, check out <a href="http://demo.keystonejs.com/" target="_blank">their demo</a>, the <a href="https://github.com/keystonejs/keystone" target="_blank">GitHub repository</a>, and ask for help in their <a href="https://groups.google.com/forum/#!forum/keystonejs" target="_blank">mailing list</a>.</p>
      </div>

      <div class='col-sm-6 col-xs-6'>
        <img class="img-responsive center-block" src="/images/connextcms-logo.jpg" />
        <p><a href="http://connextcms.com" target="_blank">ConnextCMS</a> communicates with KeystoneJS via REST API calls using AJAX and provides an alternative back end using the <a href="https://almsaeedstudio.com/" target="_blank">AdminLTE template</a>. This allows developers to use front end tools like Chrome Dev Tools to debug their websites in the browser.</p>
      </div>
    </div>
    
  </div>
</section>

