<style>
  /* Using Handlebars template language, you can insert HTML and styling */
  .features .glyphicon {
    font-size: 32px;
  }

  .row {
    margin-bottom: 20px;
  }

  .quote {
    background-color: #444;
    color: #e1e1e1;
  }
  .quote blockquote {
    border: none;
    margin: 0;
  }
  .quote footer {
    color: #c1c1c1;
  }
  section, header {
    background-color: #fff;
  }
  body {

  }
  .footer {
    padding: 20px 0;
  }


  #demo-nav {
    display: none;
  }

  .show-nav #demo-nav {
    display: block;
  }
</style>

<section>
  <div class='container'>
    <div class='row well well-lg'>
      <div class='col-md-6'>
        <h2>ConnextCMS and KeystoneJS Demo</h2>
        <p class='lead'>ConnextCMS communicates with <a href="http://keystonejs.com/" target="_blank">KeystoneJS</a> via API calls, allowing developers to use front end tools to build their websites.</p><br>
        <p>Log in and try out the back end with the same demo login/pass as in Keystone:</p><br>
        <p>Login: <b>demo@keystonejs.com</b></p>
        <p>Pass: <b>admin</b></p>
        <a class='btn btn-lg btn-primary' href="/keystone" target="_blank">Log into Back End</a>
        <a class='btn btn-lg btn-default' href="http://github.com" target="_blank">View GitHub Project</a>
        
      </div>
      <div class='col-md-6 visible-md visible-lg'>
        <img class="img-responsive center-block" src='images/skagit-connext-logo-gold-online.jpg' alt='ConnextCMS' />
      </div>
    </div>

    <div class='row text-center features'>
      <div class='col-sm-4 col-xs-10 col-xs-offset-1 col-sm-offset-0'>
        <img class="img-reponsive center-block" src="/images/logo.svg" />
        <p>ConnextCMS runs on top of <a href="http://keystonejs.com/" target="_blank">KeystoneJS</a> v0.4.0 Start out by reading the <a href="http://keystonejs.com/docs/" target="_blank">KeystoneJS documentation</a>, check out <a href="http://demo.keystonejs.com/" target="_blank">their demo</a>, the <a href="https://github.com/keystonejs/keystone" target="_blank">GitHub repository</a>, and ask for help in their <a href="https://groups.google.com/forum/#!forum/keystonejs" target="_blank">mailing list</a>.</p>
      </div>

      <div class='col-sm-4 col-xs-6'>
        <i class='glyphicon glyphicon-random'></i>
        <h3>Use Front End Dev Tools</h3>
        <p>ConnextCMS communicates with KeystoneJS via REST API calls using AJAX. This allows developers to use front end tools like Chrome Dev Tools to debug their websites in the browser.</p>
      </div>

      <div class='col-sm-4 col-xs-6'>
        <i class='glyphicon glyphicon-send'></i>
        <h3>Designed for Digital Ocean Droplets&reg;</h3>
        <p>You can clone your own working copy of ConnextCMS on a Digital Ocean Droplet. No need to compile from source unless you want to. You can also take advantage of VPS technology like snapshots and redundency.</p>
      </div>
    </div>
  </div>
</section>


<style>
  /* Sticky footer styles
  -------------------------------------------------- */
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 200px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 200px;
  }
  .footer {
    color: #efefef;
    background-color: #333;
  }
  .footer a {
    color: #9af7fe;
  }
  @media only screen and (max-width: 768px) {
    body { margin-bottom: 400px; }
    .footer { height: 400px; }
  }
</style>
<div class='footer'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-4 col-md-3 col-xs-6'>
        <h4>Who We Are</h4>
        <p><i>Blasting Off With Bootstrap</i> is the fastest way to space. <a href='#'>Book your ticket today</a>!</p>
        <p><a href='#'>More About Us <i class='glyphicon glyphicon-arrow-right'></i></a></p>
      </div>

      <div class='col-sm-2 col-xs-6 col-md-offset-1'>
        <h4>Links</h4>
        <ul class='list-unstyled'>
          <li><a href='#'>Home</a></li>
          <li><a href='#'>Tickets</a></li>
          <li><a href='#'>Stations</a></li>
        </ul>
      </div>

      <div class='clearfix visible-xs'></div>

      <div class='col-sm-2 col-xs-6'>
        <h4>Stay in Touch</h4>
        <ul class='list-unstyled'>
          <li><a href='#'>About</a></li>
          <li><a href='#'>Contact Us</a></li>
          <li><a href='#'>Blog</a></li>
          <li><a href='#'>Twitter</a></li>
          <li><a href='#'>Facebook</a></li>
        </ul>
      </div>

      <div class='col-sm-4 col-md-3 col-md-offset-1 col-xs-6'>
        <h4>Contact Us</h4>
        <ul class='list-unstyled'>
          <li><i class='glyphicon glyphicon-globe'></i> Orlando, FL<li>
          <li><i class='glyphicon glyphicon-phone'></i> 1-555-blast-off<li>
          <li><i class='glyphicon glyphicon-envelope'></i> <a href='mailto:#'>blastingoff@codeschool.com</a><li>
        </ul>

        <p>Blasting Off With Bootstrap &copy;2214.</p>
      </div>
    </div>
  </div>
</div>