<div class="container">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<article>
				<p><a href="/">&larr; back to the home page</a></p>
				<hr>
				<header>
					<h1>Reset Your Password</h1>				
          <p>
            Enter the email below that you use to log into the system and then click the 'Reset Password' button.
            Your password will be reset and a new password will be sent to your email address.
          </p>
				</header>
				
        <form class="form-horizontal">
          
          <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">Email/Login</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="button" class="btn btn-default" onclick="resetPassword()">Reset Password</button>
            </div>
          </div>
        </form>
        
			</article>
		</div>
	</div>
 
</div>



<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content text-center">
      <h4>Title</h4>
      <p>Message</p>
      <button type="button" class="btn btn-primary center-block" data-toggle="modal" data-target=".bs-example-modal-sm">Close</button>
    </div>
  </div>
</div>


<script src="/js/jquery/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
    
  $(document).ready(function() {
    
  });
  
  function resetPassword() {
    debugger;
    
    var email = $('#inputEmail').val();
    var obj = new Object();
    obj.email = email;
    
    $.get('/api/email/resetpassword', obj, function(data) {
      debugger;
      
      //Clear the input text box.
      $('#inputEmail').val('');
      
      //Confirm data sent successfully
      $('.modal').find('h4').text('Success!');
      $('.modal').find('p').text('Your password was successfully reset. Your new password has just been emailed to you.');
      $('.modal').modal('show');
      
    })
    .fail(function( jqxhr, textStatus, error ) {
      debugger;

      var err = textStatus + ", " + error;

      try {
        if(jqxhr.responseText.indexOf("Invalid MailGun settings") != -1) {
          console.error('Can not send email! Have you set the MailGun settings correctly in /js/serversettings.js?');
          
          //Confirm data sent successfully
          $('.modal').find('h4').text('Failure!');
          $('.modal').find('p').text('The adminstrator has not set this site up to send emails, so we can not email you your password.');
          $('.modal').modal('show');
        } else if(jqxhr.responseText.indexOf("email user not found") != -1) {
          console.error('Email/user not found.');
          
          //Confirm data sent successfully
          $('.modal').find('h4').text('Failure!');
          $('.modal').find('p').text('Email/user not found.');
          $('.modal').modal('show');
        } else {
          console.log( "Request to /api/email/resetpassword Failed: " + error );
          console.error('Error message: '+jqxhr.responseText);
          
          //Confirm data sent successfully
          $('.modal').find('h4').text('Failure!');
          $('.modal').find('p').text('Password reset failed for an unknown reason. Contact the site adminstrator if this continue to happen.');
          $('.modal').modal('show');
        }
      } catch(err) {
        console.error('Error trying to reset password!');
      }            
    });
  }
  
</script>

