<div class="container">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<article>
				<p><a href="/">&larr; back to the home page</a></p>
				<hr>
				<header>
					<h1>Reset Your Password</h1>				
          <p>
            Enter the email below that you use to log into the system and then click the 'Reset Password' button.
            Your password will be reset and a new password will be sent to your email address.
          </p>
				</header>
				
        <form class="form-horizontal">
          
          <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">Email/Login</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="button" class="btn btn-default" onclick="updateUserData()">Reset Password</button>
            </div>
          </div>
        </form>
        
			</article>
		</div>
	</div>
 
</div>



<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content text-center">
      <h4>Title</h4>
      <p>Message</p>
      <button type="button" class="btn btn-primary center-block" data-toggle="modal" data-target=".bs-example-modal-sm">Close</button>
    </div>
  </div>
</div>


<script src="/js/jquery/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
    
  $(document).ready(function() {
    /*
    //Fill in the form with the user data
    $('#firstName').val(userdata.name.first);
    $('#lastName').val(userdata.name.last);
    $('#inputEmail').val(userdata.email);
    
    //If the user begins to fill out the password field, show the second/confirmation password field.
    $('#inputPassword1').focus(function() {
      $('#hiddenPassword').show();
    })
    */
  });
  
  function updateUserData() {
    debugger;
    
    //Get user data from the server
    $.get('/api/users/'+userdata._id, '', function(data) {
      debugger;

      

      //Update the user information
      data.user.name.first = $('#firstName').val();
      data.user.name.last = $('#lastName').val();
      data.user.email = $('#inputEmail').val();
      
      //Update the password if it's not blank and both entries match
      var password = $('#inputPassword1').val();
      
      if((password != "") && (password == $('#inputPassword2').val())) {
        data.user.password = password;
      } else if(password != $('#inputPassword2').val()){
        $('.modal').find('h4').text('Password Mismatch');
        $('.modal').find('p').text('Passwords do not match!');
        $('.modal').modal('show');
        return;
      }
      
      //Send the updated info to the server
      $.post('/api/users/'+userdata._id+'/update', data.user, function(data) {
        debugger;
      
        //Confirm data sent successfully
        $('.modal').find('h4').text('Success');
        $('.modal').find('p').text('User data updated successfully!');
        $('.modal').modal('show');
      })
      
      //Confirm update failed
      .fail(function() {
        debugger;
        console.error('There was an error sending user data to the server');
      })
    })
    
    //Confirm connection to server failed
    .fail(function() {
      debugger;
      console.error('There was an error communicating with the server');
    })
  }
  
  function runtest() {
    debugger;
    
    //Global Variables
    //var serverIP = '<your ip address>';
    var serverIP = '45.55.12.52';
    var serverPort = '3000';
    var serverURL = 'http://'+serverIP+':'+serverPort;
    var normalUserID = "57ce38232bb516b53d461ded";
    
    var isLoggedIn = false;
    
    var testCnt = 1;
    
    
    $.get('/api/users/'+normalUserID, '', function(data) {
      debugger;

      data.user.password = "testpassword";

      $.post('/api/users/'+normalUserID+'/update', data.user, function(data) {
        debugger;
      });
    });
  }
</script>

<!-- This is  an example of how to use the Handlebars scripting function to transfer data from the back end to the front end. -->
{{#if user}}
  <script type="text/javascript">
    var userdata = {{{JSON user}}}
  </script>
  <!-- <p>KeystoneJS user data loaded.</p> -->
{{else}}
  <!-- <h3 class="text-muted">KeystoneJS user data not loaded.</h3> -->
{{/if}}