/* Dismiss button on postal code labels */
button.dismiss {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.dismiss {
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

#geographic_target_add_postal_code .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
