<div>
  <div class="row well well-leg">
    <div class="col-sm-12">

      <form class="form-horizontal">
        <div class="form-group">
          <label for="imageSize" class="col-sm-2 control-label">Image Size:</label>
          <div class="col-sm-3">
            <select name="imageSize" id="imageSize">
              <!-- <option value="300px">300px</option> -->
            </select>
          </div>              
        </div>            
      </form>

    </div>
  </div>     


  <div class="" id="imageGallery" >

    <div style="" class="scrollDiv">
      <div class="row thumbRow">
        <div class="col-sm-offset-1 col-sm-4 thumbDiv"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4 thumbDiv"></div>
      </div>
    </div>

  </div>
</div>