<div id="widgetEditor" hidden>
  <div class="row">
    <div class="col-sm-12">
      <form>
        <div class="form-group">
          <label for="widgetTitle">Title</label>
          <input type="text" class="form-control" id="widgetTitle" placeholder="">
        </div>
        <div class="form-group">
          <label for="widgetDesc">Description</label>
          <input type="text" class="form-control" id="widgetDesc" placeholder="">
        </div>
      </form>
    </div>
  </div>
    
  <br />
  
  <div class="row" id="widgetHTML">
    <div class="col-sm-12">
      <label>HTML Entries:</label>
    </div>
    <div class="col-sm-12 scaffold">
      <button type="button" class="btn btn-danger btn-xs pull-right deleteHTML"><i class="fa fa-close"></i></button>
      <textarea class="form-control" rows="6"></textarea>
    </div>
  </div>
  
  <br />
  
  <div id="widgetImages">
    <div class="row scaffold">
      <div class="col-sm-12">
        <label>Images:</label>
      </div>
      <div class="col-sm-3 img0">
        <button type="button" class="btn btn-danger btn-xs pull-right"><i class="fa fa-close"></i></button>
        <img class="img-responsive center-block" src="/images/no-image.jpg" />
      </div>

      <div class="col-sm-1"></div>

      <div class="col-sm-3 img1">
        <button type="button" class="btn btn-danger btn-xs pull-right"><i class="fa fa-close"></i></button>
        <img class="img-responsive center-block" src="/images/no-image.jpg" />
      </div>

      <div class="col-sm-1"></div>

      <div class="col-sm-3 img2">
        <button type="button" class="btn btn-danger btn-xs pull-right"><i class="fa fa-close"></i></button>
        <img class="img-responsive center-block" src="/images/no-image.jpg" />
      </div>
    </div>
  </div>
  
</div>

<br />
<hr style="border-top: 3px solid #000;" hidden />
<br />

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped" id="widgetTable"> 
    </table>
  </div>
</div>