
<!-- Waiting/Success Modal --> 
<!--
<div class="modal bs-example-modal-sm" id="successWaitingModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Submitting data...</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive center-block" src="images/waiting.gif" id="waitingGif" />
        <h2 class="text-center" id="successMsg" style="color: green;" hidden><strong>Success!</strong></h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    </div>
  </div>
</div>
-->

<div class="row">
    <div class="col-md-12" id="imageResizeDiv" hidden>

    </div>
</div>

<div class='row well well-lg'>
    <p>Hover your mouse over each question mark (<span class="glyphicon glyphicon-question-sign"></span>) to get a tool-tip for guidence.</p>
    <br><br>
    <h2>
        Upload a New Image...
    </h2>

    <form class="form-horizontal" id="form2" action="http://107.170.199.250/api/imageupload/create" method="POST" enctype='multipart/form-data'>
        <div class="form-group">
            <input class="text-center center-block" type="file" id="image_upload" onchange="global.imageAddNewView.displayUploadImage()">
            <br>
              <!-- <center><canvas id="canvas1"></canvas></center> -->
              <img id="imageToUpload" class="img-responsive center-block" src="" />
            <br>

        </div>
        <br>
        <div class="form-group" id="imageNameUploadDiv" hidden>
            <label for="imageNameUpload" class="col-md-2 col-sm-2 control-label">
                <span id="toolTip5" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top"> </span>
                <span id="nameLabel">Image Name:</span>
            </label>
            <div class="col-md-7 col-sm-7">
                <input type="text" class="form-control" id="imageNameUpload">
            </div>
            <div class="col-sm-3"></div>
        </div>
        <br>
        <div class="form-group">
            <center><input type="button" value="Upload" onclick="global.imageAddNewView.uploadImage()" data-toggle="modal" data-target=".bs-example-modal-sm"></center>
        </div>
    </form>
    <center><b><p id="successMsgUpload"></p></b></center>
</div> 

