
<!-- Sidebar user panel (optional) -->
<div class="user-panel">
  <div class="pull-left image">
    <img src="../images/company-logo-160x160px.jpg" class="img-circle" alt="User Image">
  </div>
  <div class="pull-left info">
    <p class="text-center">Client Company<br>
    <small>Tagline Here</small>
    </p>
  </div>
</div>

<!-- search form (Optional) -->
<form action="#" method="get" class="sidebar-form">
  <div class="input-group">
    <input type="text" name="q" class="form-control" placeholder="Search...">
    <span class="input-group-btn">
      <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
    </span>
  </div>
</form>
<!-- /.search form -->

<!-- Sidebar Menu -->
<ul class="sidebar-menu">
  <li class="header">HEADER</li>
  <!-- Optionally, you can add icons to the links -->
  <li class="active"><a href="#" id="dashboardLink"><i class="fa fa-link"></i> <span>Dashboard</span></a></li>
  <!-- <li><a href="#" id="pagesLink"><i class="fa fa-link" ></i> <span>Pages</span></a></li>  -->
  <li class="treeview">
    <a href="#" id="postsLink"><i class="fa fa-link"></i> <span>Posts</span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
      <li><a href="#" id="categories">Categories</a></li>
      <li><a href="#" id="postList">All Posts</a></li>
      <li><a href="#" id="postAddNew">Add New</a></li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#" id="pagesLink"><i class="fa fa-link"></i> <span>Pages</span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
      <li><a href="#" id="sections">Sections</a></li>
      <li><a href="#" id="pageList">All Pages</a></li>
      <li><a href="#" id="pageAddNew">Add New</a></li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#" id="mediaLink"><i class="fa fa-link"></i> <span>Media</span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
      <li><a href="#" id="imageLibraryLink">Image Library</a></li>
      <li><a href="#" id="imageAddNew">Add New Image</a></li>
      <li><a href="#" id="fileLibraryLink">File Library</a></li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#"><i class="fa fa-link"></i> <span>Members</span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
      <li><a href="#">Manage Members</a></li>
      <li><a href="#">Add Member</a></li>
    </ul>
  </li>
  <li><a href="#"><i class="fa fa-link"></i> <span>Event Calendar</span></a></li>
  <li><a href="#"><i class="fa fa-link"></i> <span>Advertising</span></a></li>
</ul><!-- /.sidebar-menu -->