<div class="row">
  <div class="col-md-12">
    <table class="table table-striped"> 
      <thead> 
        <tr> 
          <th>Title</th> 
          <th>Author</th> 
          <th>Sections</th> 
          <th>Date</th> 
        </tr> 
      </thead> 
      <tbody id="pagesTable"> 
        <tr id="pageRow" hidden> 
          <th scope=row></th> 
          <td class="pageAuthor"></td> 
          <td class="pageSections"></td> 
          <td class="pageDate"></td> 
        </tr> 
      </tbody> 
    </table>
  </div>
</div>