<!-- Date picker: https://github.com/eternicode/bootstrap-datepicker -->
<link rel="stylesheet" href="../styles/bootstrap-datepicker.min.css">
 
<div class="row">
  <div class="col-md-12">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="pageTitle" class="col-sm-12">Title</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="pageTitle" placeholder="Title">
        </div>
      </div>
      <div class="form-group">
        <label for="publishedState" class="col-sm-12">Published State</label>
        <div class="col-sm-8">
          <select class="form-control" id="publishedState">
            <option>Draft</option>
            <option>Published</option>
            <option>Archived</option>
          </select>
        </div>
      </div>
      <div class="form-group input-group date" data-provide="datepicker">
        <label for="publishedDate" class="col-sm-12">Published Date</label>
        <div class="col-sm-8">
          <input type="text" class="form-control datepicker" id="publishedDate" placeholder="" data-date-auto-close="true">
          <!-- required for datepicker -->
          <div class="input-group-addon" style="opacity: 0;"></div>
        </div>
      </div>
      <div class="form-group">
        <label for="section" class="col-sm-12">Section</label>
        <div class="col-sm-8">
          <select class="form-control" id="section">
            <option>Section Data Not Loaded</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="pagePriority" class="col-sm-12">Priority</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" name="pagePriority" id="pagePriority" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label for="pageContent" class="col-sm-12">Content</label>
        <div class="col-sm-11">
          <textarea class="form-control" id="pageContent" placeholder="Your content here." rows="20"></textarea>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default" id="submitPage" data-toggle="modal" data-target=".bs-example-modal-sm">Submit</button>
        </div>
        <div class="col-sm-4">
          <button hidden type="button" class="btn btn-danger pull-right" id="deletePage" data-toggle="modal" data-target=".bs-delete-modal-sm">Delete</button>
        </div>
      </div>
    </form>
    <br>
    <!--
    <form>
      <textarea id="mytextarea">Hello, World!</textarea>
    </form>
    -->
  </div>
</div>

<!-- Waiting/Success Modal -->
<div class="modal fade bs-example-modal-sm" id="successWaitingModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Submitting data...</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive center-block" src="images/waiting.gif" id="waitingGif" />
        <h2 class="text-center" id="successMsg" style="color: green;" hidden><strong>Success!</strong></h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    </div>
  </div>
</div>

<!-- Are you sure you want to delete? Modal -->
<div class="modal fade bs-delete-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete Page</h4>
      </div>
      <div class="modal-body">
        <!--
        <img class="img-responsive center-block" src="images/waiting.gif" id="waitingGif" />
        <h2 class="text-center" id="successMsg" style="color: green;" hidden><strong>Success!</strong></h2>
        -->
        <p>Are you sure you want to delete this page?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="global.pagesAddNewView.deletePage()">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
    </div>
  </div>
</div>