
  <span class='dropdown pull-right'>
    <a data-toggle="dropdown" class='dropdown-toggle' href="#">
      <span  class="glyphicon glyphicon-chevron-down"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#">Message</a></li>
      <li><a href="#">Invite to Collaborate</a></li>
      <li><a href="#">Recommend Task</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">View Profile</a></li>
    </ul>
  </span>

  <div class="row">
    <div class="col-sm-4">
      <img class="center-block img-responsive" src="img/profile-placeholder-white-grey.jpg" />
    </div>
    <div class="col-sm-8">
      <h4 class="hover">Bruce Merlo</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <ul class="list-unstyled">
        <li>Montreal</li>
        <li>bruce@sensorica.co</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-6">
      <button type="button" class="btn btn-info">JavaScript</button>
    </div>
    <div class="col-sm-6 col-xs-6">
      <button type="button" class="btn btn-info">UI Design</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-6">
      <button type="button" class="btn btn-info">Video Editing</button>
    </div>
    <div class="col-sm-6 col-xs-6">
      <button type="button" class="btn btn-info">CSS</button>
    </div>
  </div>
