<!-- Date picker: https://github.com/eternicode/bootstrap-datepicker -->
<link rel="stylesheet" href="../styles/bootstrap-datepicker.min.css">

<div class="row">
  <div class="col-md-12">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="postTitle" class="col-sm-12">Title</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="postTitle" placeholder="Title">
        </div>
      </div>
      <div class="form-group">
        <label for="publishedState" class="col-sm-12">Published State</label>
        <div class="col-sm-8">
          <select class="form-control" id="publishedState">
            <option>Draft</option>
            <option>Published</option>
            <option>Archived</option>
          </select>
        </div>
      </div>
      <div class="form-group input-group date" data-provide="datepicker">
        <label for="publishedDate" class="col-sm-12">Published Date</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="publishedDate" placeholder="">
          <!-- required for datepicker -->
          <div class="input-group-addon" style="opacity: 0;"></div>
        </div>
      </div>
      <div class="form-group">
        <label for="category" class="col-sm-12">Category</label>
        <div class="col-sm-8">
          <select class="form-control" id="category">
            <option>Category Data Not Loaded</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="postContent" class="col-sm-12">Content</label>
        <div class="col-sm-11">
          <textarea class="form-control" id="postContent" placeholder="Your content here." rows="20"></textarea>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-2">
          <button type="button" class="btn btn-primary" id="submitPost">Submit</button>
        </div>
        <div class="col-sm-2">
          <button hidden type="button" class="btn btn-danger pull-right" id="deletePost">Delete</button>
        </div>
        <div class="col-sm-offset-6 col-sm-2">
          <button hidden type="button" class="btn btn-default" id="viewPost">View Post</button>
        </div>
      </div>
    </form>
    <br>
    <!--
    <form>
      <textarea id="mytextarea">Hello, World!</textarea>
    </form>
    -->
  </div>
</div>
