<div class="row">
  <div class="col-md-12">
    <table class="table table-striped"> 
      <thead> 
        <tr> 
          <th>Title</th> 
          <th>Author</th> 
          <th>Categories</th> 
          <th>Date</th> 
        </tr> 
      </thead> 
      <tbody id="postsTable"> 
        <tr id="postRow" hidden> 
          <th scope=row>1</th> 
          <td class="postAuthor"></td> 
          <td class="postCategories"></td> 
          <td class="postDate"></td> 
        </tr> 
        <!--
        <tr> 
          <th scope=row>2</th> 
          <td>Jacob</td> 
          <td>Thornton</td> 
          <td>@fat</td> 
        </tr> 
        <tr> 
          <th scope=row>3</th> 
          <td>Larry</td> 
          <td>the Bird</td> 
          <td>@twitter</td> 
        </tr> 
        -->
      </tbody> 
    </table>
  </div>
</div>