<style>
  hr { 
      display: block;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      margin-left: auto;
      margin-right: auto;
      border-style: inset;
      border-width: 1px;
  }
</style>

<div class="row">
  <div class="col-md-12">
    <h2>
      Private Settings
    </h2>
  </div>
</div>

<form class="form-horizontal" id="privateSettingsForm">
  
  <div class="form-group" id="privateScaffold">
    <label for="" class="col-sm-2 control-label">Label</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="">
    </div>
  </div>
  
</form>

<br><hr><br>
    
<div class="row">
  <div class="col-md-12">
    <h2>Public Settings</h2>  
  </div>
</div>

    
<form class="form-horizontal" id="publicSettingsForm">
  
  <div class="form-group" id="publicScaffold">
    <label for="" class="col-sm-2 control-label">Label</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="">
    </div>
  </div>
  
</form>
    
<button class="btn btn-default" type="button">Save Settings</button>





